<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender ajuda a gravar logs em arquivo com rotação -->
    <appender name="ARQUIVO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Caminho do arquivo de log atual -->
        <file>./logs/banco.log</file>
        
        
        <!-- Política de rotação baseada em tempo -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Padrão do nome dos arquivos rotacionados -->
            <fileNamePattern>./logs/banco-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Número máximo de dias para manter arquivos antigos -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        
        <!-- Formato das mensagens de log -->
        <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan([%thread]) %magenta(%logger{36}) - %msg%n</pattern>
           <!-- <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        </encoder>
    </appender>
    
     <!-- Appender para CONSOLE (APENAS ERROS) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level> <!-- Só mostra ERROS no terminal -->
        </filter>
        <encoder>
            <pattern>%red(%d{HH:mm:ss}) %highlight(%-5level) [%thread] %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração do logger raiz -->
    <root level="info">
        <!-- Referência ao appender que definimos -->
        <appender-ref ref="ARQUIVO"/>
    </root>
</configuration>